body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  text-align: center; /* Center the image */
  margin: 0 auto;
  width: 100%; /* Ensure the container takes up the full width */
}

#menuImage {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the aspect ratio */
  display: inline-block; /* For centering in the container */
}
